.projects {
  padding-left: 130px;
  margin-top: 60px;
}
.projects hr {
  color: #138781;
  width: 400px;
  margin: 10px auto;
}
.projects h2 {
  font-weight: bold;
  color: #138781;
}
.cardholder {
  margin-top: 40px;
}
/* responsive */
@media (max-width: 600px) {
  .projects {
    padding-left: 0px;
  }
  #dark .projects {
    padding-left: 0px;
  }
}

/* Default styles (for larger screens) */

@media (max-width: 1024px) {
  /* Styles for tablets */
}

@media (max-width: 768px) {
  /* Styles for mobile screens */
  /* body {
    font-size: 16px;
  }
  .container {
    flex-direction: column;
  } */
}

@media (max-width: 480px) {
  /* Styles for very small screens */
  .navbar {
    flex-direction: column;
  }
}
