#dark {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(16, 16, 35, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
#dark .sidebar-section {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(16, 16, 35, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* about */
#dark .about-content h1 {
  color: white;
  border-bottom: 2px solid #b0a4a4;
}
#dark p {
  color: white;
}

/* education */
#dark .education h4 {
  color: whitesmoke;
}
#dark .education hr {
  color: whitesmoke;
}
#dark .education-date {
  color: whitesmoke;
}
/* project */
#dark h2 {
  color: white;
}
#dark hr {
  color: whitesmoke;
}
#dark .cardtext {
  color: black;
}
/* footer */
#dark .footer h6 {
  color: whitesmoke;
}
#dark .footer hr {
  width: 400px;
  margin: 10px auto;
}

/* footer responsive */
@media (max-width: 600px) {
  .footer {
    text-align: center;
  }
}
