.edu {
  padding-left: 130px;
  margin-top: 60px;
}

.education hr {
  color: #138781;
  width: 400px;
  margin: 10px auto;
}

.education h4 {
  font-weight: bold;
  color: #138781;
}

h3 .title {
  color: #138781;
}

h4 .subtitle {
  color: #1e1e2c;
}
#dark .subtitle {
  color: black;
}

/* responsive */
@media (max-width: 600px) {
  .edu {
    padding-left: 0px;
  }
  #dark .edu {
    padding-left: 0px;
  }
}
